{% extends 'dwh_qa_core/index.html' %}

{% block path %}
    <a class="navbar-brand" href="{% url 'dwh_qa_core:index' %}">DWH QA</a>
    <div class="navbar-brand">></div>
    <a class="navbar-brand" href="{% url 'dwh_qa_core:set_detail' object.pk %}">{{ object.set_name }}</a>{% endblock path %}
{% block content %}

    <h1 class="page-header">{{ object.set_name }}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Тест</th>
                    <th>Статус</th>
                    <th>Эталон</th>
                    <th>Проверка</th>
                    <th>Обновлено</th>
                </tr>
            </thead>
            <tbody>
                {% for test in object.tests.all %}
                    <tr>
                        <td><a href="{% url 'dwh_qa_core:test_detail' object.pk test.pk %}">{{ test.test_name }}</a></td>
                        <td>{{ test.is_succeeded }}</td>
                        <td>{{ test.right_query_result }}</td>
                        <td>{{ test.check_query_result }}</td>
                        <td>{{ test.test_ts_finish|date:"d M Y" }} {{ test.test_ts_finish|time:"H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}